@import 'src/components/global/base.scss';

.forgotPassword {
    padding: 0;

    .forgotPassword__header {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 19px;
        color: $blue;
        font-weight: 500;

        svg {
            font-size: 24px;
        }
    }

    .forgotPassword__main {
        padding: 16px;
        text-align: right;
        background-color: $text-white;
        border: 2px solid $border-color;

        .forgotPassword__input {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            label {
                font-weight: 500;
                width: 25%;
                margin-top: 5px;

                @media screen and (max-width: 768px) {
                    text-align: left;
                }
            }
        }
    }

    .forgotPassword__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 16px;
        gap: 5px;

        button {
            margin-left: 5px;
        }
    }
}