.bar {
    background-color: transparent !important;
    font-size: 20px;
    color: #888888 !important;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}