@import 'src/components/global/base.scss';

.listChains {
    border: 1px solid $border-color;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 10px;

    .listChains__last {
        display: flex;
        flex-direction: column;
        align-items: center;

        .listChains__last__top {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            margin-bottom: 10px;
            font-size: 19px;
            font-weight: 500;

            img {
                width: 35px;
                height: 35px;
            }
        }
    }
}