@import 'src/components/global/base.scss';

.paging {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .paging__button {
        padding: 10px 30px;
        border-radius: 0;
        background-color: $background-color-2;
        width: 140px;
        color: $blue;
        user-select: none;

        &:hover {
            background-color: $background-color-2;
            border-color: #ccc;
            text-decoration: underline;
        }
    }
}