.search {
    display: flex;
    align-items: center;
    gap: 5px;

    @media screen and (max-width: 992px) {
        padding-left: 15px;
    }

    @media screen and (max-width: 768px) {
        padding: 10px 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .search__button {
        white-space: nowrap;
        height: 34px;
    }
}